apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: {{ .Values.namespace }}
spec:
  clusterIP: None
  selector:
    app: kafka
  ports:
    - port: {{ .Values.kafka.startingPort }}
      targetPort: {{ .Values.kafka.startingPort }}
